<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- JPA repositories -->
    <jpa:repositories base-package="com.multitrans.wasalliya.repository" />

    <!-- tour configuration -->
    <bean id="tourService" class="com.multitrans.wasalliya.service.TourService">
        <constructor-arg ref="tourRepository" />
        <constructor-arg ref="tourMapper" />
    </bean>

    <bean id="tourController" class="com.multitrans.wasalliya.controller.TourController">
        <constructor-arg ref="tourService" />
        <constructor-arg ref="tourMapper" />
    </bean>
    <!-- end tour configuration  -->

    <!-- Vehicale Configuration -->
    <bean id="vehicalmapper" class="com.multitrans.wasalliya.mapper.VehicaleMapper">
      <constructor-arg ref="tourRepository"/>
    </bean>
    <bean id="vehicaleService" class="com.multitrans.wasalliya.service.VehicaleService">
        <constructor-arg ref="vehicaleRepository" />
        <constructor-arg ref="vehicalmapper" />
    </bean>
    <bean id="vehicaleController" class="com.multitrans.wasalliya.controller.VehicaleController">
        <constructor-arg ref="vehicaleService" />
        <constructor-arg ref="vehicalmapper" />
    </bean>
    <!--end  Vehicale Configuration -->

    <!-- start Delivery Configuration -->
    <bean id="deliveryController" class="com.multitrans.wasalliya.controller.DeliveryController">
        <constructor-arg ref="deliveryService" />
    </bean>
    <bean id="deliveryService" class="com.multitrans.wasalliya.service.DeliveryService">
        <constructor-arg ref="deliveryRepository" />
        <constructor-arg ref="deliveryMapper" />
    </bean>
    <!-- end Delivery Configuration -->

    <!-- mapper config -->
    <bean id="tourMapper" class="com.multitrans.wasalliya.mapper.TourMapper" />
    <bean id="deliveryMapper" class="com.multitrans.wasalliya.mapper.DeliveryMapper" />



</beans>
