<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    

    <jpa:repositories base-package="com.multitrans.wasalliya.repository" />
    <bean id="tourService" class="com.multitrans.wasalliya.service.TourService">
        <constructor-arg ref="tourRepository" />
    </bean>

    <bean id="tourController" class="com.multitrans.wasalliya.controller.TourController">
        <constructor-arg ref="tourService" />
    </bean>


    

    
    </beans>